*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,body{
    min-height: 100vh;
    margin: 0;
    background:var(--body-color);
}

/*-- boot css --*/

:root{
    --body-color:#E4E9F7;
    --sidebar-color: #FFFFFF;
    --secundary-color: #721011;
    --destaque-color: #FFC107;
    --hover:#8A1A20;
    --facebook-color:rgba(167, 171, 176,0.7);
    --color-success:#28a745;
    --color-erro:#f44336;
    --color-text:#646464;
    --btn-linear: linear-gradient(to right,rgb(117, 15, 16), rgb(155, 19, 21),rgb(155, 19, 21), #9b1315);

    --trans02:0.2s ease;
    --trans03:0.3s ease;
}

.dark {
    --sidebar-color:rgb(47 51 73);
    --body-color:rgb(37 41 60);
    --secondary-color:#256d3b;
    --destaque-color: #181818;
    --hover-destaque:#8A1A20;
    --color-text:#fff;
    --text-white:#fff;
    --text-dark:#181818;

    --btn-linear: linear-gradient(to right,rgb(117, 15, 16), rgb(155, 19, 21),rgb(155, 19, 21), #9b1315);

    --trans02:0.2s ease;
    --trans03:0.3s ease;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
}


.clear{
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
}

.center{
    float: center;
}

.line{
    width: 100%;
    height: 1.5px;
    background:#ccc;
    margin-bottom: 30px;
}

.selected{
    background: linear-gradient(to right,rgb(117, 15, 16), rgb(155, 19, 21),rgb(155, 19, 21), #9b1315);
}

.selected i,
.selected a{
  color: #fff;
}

.toggle_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* border-radius: 100%; */
    background: var(--secundary-color);
    position: absolute;
    top: 12px;
    right: -30px;
    cursor: pointer;
}

.toggle_button > span{
    position: relative;
    color: var(--body-color);
    font-weight: bold;
    font-size: 13px;
    font-weight: normal;
    transition: var(--trans03);
    transform: rotate(180deg);
    transition: var(--trans02);
}

.open .toggle_button > span{
    position: relative;
    transform: rotate(0deg);
}

.toggle_button:hover{
    background: var(--hover);
}

section.base{
    text-align: center;
    width: 100%;
    padding: 10px;
    background: #256d3b;
    color: #fff;
    margin-bottom: 10px;
}

section.base p{
    line-height: 22px;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--sidebar-color);
    transition: var(--trans03);
    white-space: nowrap;
    z-index: 2;

}


.open{
    width: 77px;
    height: 100%;
    white-space: nowrap;
    transition: var(--trans03);
}


/* log */

div.logo{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

div.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}


div.content-items{
    width: 100%;
    position: relative;
    padding: 10px;
}

.open div.content-items{
    padding: 10px;
}


div.fixed_sidebar{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100%;
    cursor: pointer;
}

div.items-single{
    display: flex;
    align-items:center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: var(--trans02);
}

div.items-single:hover{
    background-color: var(--hover);
}

div.items-single:hover span,
div.items-single:hover a{
    color: var(--body-color);
}

.dark div.items-single:hover{
    background: var(--hover-destaque);
}

.dark div.items-single:hover div.items-single:hover span,
div.items-single:hover a{
    color: var(--text-white);
}

div.items-single span{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    color: var(--color-text);
}

.open div.items-single span{
 opacity: 0;
}

div.items-single a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-text);
    z-index: 1;
}


div.content-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: var(--body-color);
}

.open div.content-button{
    flex-direction: column;
    height: auto;
}

div.content-button .mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: relative;
    transition: var(--trans02);
}

div.content-button .mode i{
    font-size: 30px;
    color: var(--color-text);
}

div.content-button .mode .moon{
    display: none;
}

.dark div.content-button .mode .moon{
    display: block;
}

.dark div.content-button .mode .sun{
    display: none;
}


span.mode-text{
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: var(--color-text);
}

.open  span.mode-text{
    display: none;
}




/* button dark */

/* main */
div.main{
    flex: 1;
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    padding: 10px;
}

.open ~ div.main{
    position: relative;
    left: 88px;
    height: 100%;
    padding: 20px;
    width: calc(100% - 88px);
}


div.main .menu-perfil{
    width: 100%;
    height: 80px;
    /* background: #fff; */
}

div.perfil-content{
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: space-around;
}


div.perfil-info h3{
    font-size: 16px;
    letter-spacing: 0px;
    padding-right:12px ;
    color: var(--text-white);
}

div.perfil-info p{
    font-size: 13px;
    font-weight: normal;
    color: var(--color-text);
}


div.perfil-row{
    display: flex;
    align-items: center;
}

div.perfil-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ccc;
}

div.perfil-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}


div.dark-content{
    display: flex;
    align-items: center;
    width: 90px;
    height: 40px;
    background: var(--sidebar-color);
    margin-right: 12px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--sidebar-color);
}

div.dark-content i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    z-index: 2;
    font-size: 20px;
    color: var(--color-text);
}

div.dark-content .selected-icon{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--secundary-color);
    z-index: 1;
    transition: var(--trans02);
}

div.dark-content .selected-icon i{
    color: #fff;
}

.dark div.dark-content .selected-icon{
    left: 50%;
}



div.box-content{
    width: 100%;
    height: auto;
    background: var(--sidebar-color);
    position: relative;

}


div.box-content .row{
    display: flex;
}


div.box-single{
    width: 33%;
    height: auto;
    border-radius: 25px;
    padding: 20px;
    margin: 0 12px;
    background: var(--sidebar-color);
}


div.box-single .top{
    width: 100%;
    height: auto;
}

div.box-single .top .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid var(--text-white);
}

div.box-single .top .avatar i{
    font-size: 20px;
    color: var(--color-text);
}


div.box-single .top span{
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-text);
}

div.box-single .top h2{
    color: var(--text-white);
}


div.box-single .bottom{
    margin: 10px 0;
}

div.box-single .bottom p{
    font-size: 13px;
    font-weight: normal;
    color: var(--color-text);
}

/* noticias */

section.noticias{
    width: 100%;
    height: auto;
    position: relative;
    top: 10px;
}

 .flex{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

div.noticia-sigle{
    margin-bottom: 20px;
    background: var(--sidebar-color);
}

section.noticias .noticia-left{
    width: 40%;
    height: 100%;
    padding: 0 1%;
    /* border-right: 2px solid var(--color-text); */
}

.noticia-left .perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
}

.noticia-left .perfil .avatar{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.noticia-left .perfil .avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.noticia-left .perfil h3{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    color: var(--color-text);
}

.noticia-left .perfil p{
    font-size: 13px;
    font-weight: normal;
    color: var(--color-text);
    line-height: 20px;
    letter-spacing: 0.3px;
}


div.right-noticia{
    width: 60%;
    height:400px;
}

div.descricao_noticia{
    width: 100%;
    height: auto;
    padding: 20px;
    border-left: 1px solid #ccc;
    background: var(--sidebar-color);
}

div.descricao_noticia p{
    font-size: 14px;
    font-weight: normal;
    color: var(--color-text);
    letter-spacing: 0.3px;
    line-height: 20px;
}

div.right-noticia .middle{
    width: 100%;
    height: 70%;
    position: relative;
}

div.right-noticia .middle video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.right-noticia .bottom{
    width: 100%;
    height: 10%;
    background-color: red;
}

div.right-noticia .bottom .likes,
div.right-noticia .bottom .comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: var(--sidebar-color);
    font-size: 24px;
    cursor: pointer;
    color: var(--text-white);
}

div.right-noticia .bottom .likes{
    border-right: 1px solid var(--color-text);
}

div.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: var(--sidebar-color);
    margin-bottom: 10px;
}

div.pagination a{
    display: inline-block;
    width: 10px;
    height: 10px;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 14px;
    font-weight: normal;
    border: 1 solid var(--text-dark);
}


/* gerenciar postagens */
div.box-content {
    padding: 20px;
}

div.box-content h3{
    font-size: 17px;
    font-weight: normal;
    color: var(--color-text);
    letter-spacing: 0.3px;
    position: relative;
    padding-bottom: 5px;
}

div.box-content h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 2px;
    background: var(--color-text);
}


div.box-content form{
    width: 100%;
    padding: 5px;
}

.form-group label{
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0;
    color: var(--color-text);
}

.form-group input:not([type=submit]),
.form-group select{
    width: 100%;
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 12px;
    outline: none;
    color: var(--text-white);
    background: var(--sidebar-color);
}

.form-group input:not([type=submit])::placeholder,
.form-group textarea::placeholder{
    color: var(--sidebar-color);
}

.form-group input[type="file"]{
    padding: 4px;
}

.form-group input[type=submit]{
    width: 85px;
    height: 30px;
    color: var(--sidebar-color);
    border: 0;
    background: var(--secundary-color);
    cursor: pointer;
    color: #fff;
    margin: 10px 0;
}

.form-group input[type=submit]:hover{
    background: var(--hover);
}

.form-group textarea{
    width: 100%;
    height: 120px;
    outline: none;
    padding: 10px;
    resize: none;
    border: 1px solid #ccc;
    color: var(--text-white);
    background: var(--sidebar-color);
}

.flex{
    display: flex;
    width: 100%;
}

div.gerenciar-row{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}


div.gerenciar-single{
    width: 48%;
    height: auto;
    margin: 5px;
    border-radius: 12px;
    border: 1px solid var(--color-text);
    background: var(--sidebar-color);
}

div.gerenciar-single .top{
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0px 0px;
}

div.gerenciar-single .top video{
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}


div.gerenciar-single .top img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px 12px 0px 0px;
}

div.gerenciar-single .bottom{
    padding: 10px;
}

div.gerenciar-single .bottom p{
    line-height: 18px;
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    color: var(--color-text);
}

div.gerenciar-single .button{
    padding: 10px;
    text-align: center;
}

div.gerenciar-single .button a{
    display: inline-block;
    padding: 6px 20px;
    margin: 0 12px;
    font-size: 13px;
    font-weight: normal;
    color: var(--text-white);
}

div.gerenciar-single .button a:nth-of-type(1){
    background: tomato;
}

div.gerenciar-single .button a:nth-of-type(2){
    background: darkred;
    color: #fff;
}

div.gerenciar-single .bottom a{
    text-decoration: none;
    font-size: 12px;
    color: var(--secundary-color);
}


div.forum-curso{
    padding: 10px;
    width: 48%;
    height: 40px;
    margin: 0 10px;
    background: var(--secundary-color);
    margin-top: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: var(--trans02);
}

div.forum-curso a{
    display: inline-block;
    letter-spacing: 0.2px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

div.forum-curso:hover{
    background: var(--hover);
}


div.row-forum{
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 20px;
}

div.row-forum h3{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: var(--color-text);
    position: relative;
}

div.row-forum h3::before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 10%;
    height: 2px;
    background: var(--color-text);
}


div.forum-single{
    display: flex;
    width: 100%;
    height: auto;
    margin: 20px 0;
    margin-bottom: 30px;
}

div.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid var(--color-text);
}

div.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}


div.avatar i{
    font-size: 30px;
    color: var(--hover);
}


div.info-forum{
    width: 80%;
    margin-left: 12px;
}

div.info-forum h4{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: var(--color-text);
}

div.info-forum p{
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    text-align: justify;
    color: var(--color-text);
}


div.funcionario-single{
    width: 31%;
    height: 240px;
    border-radius: 20px;
    margin: 0 12px;
    margin-bottom: 20px;
    background: var(--sidebar-color);
}

div.funcionario-single .top{
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #ccc;
    border-bottom-style:dotted;
}

div.funcionario-single .top .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-style:dotted;
}


div.funcionario-single .bottom{
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: var(--color-text);
}

div.funcionario-single .bottom h4{
    font-size: 14px;
    font-weight: normal;
    color: var(--color-text);
}

div.funcionario-single .bottom h5{
    font-size: 12px;
    font-weight: normal;
    color: var(--color-text);
}


div.funcionario-single .button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

div.funcionario-single .button-content a{
    display: inline-block;
    padding: 5px 19px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 12px;
    text-align: center;
    color: var(--color-text);
}

.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.paginator-selected{
    background: #ccc;
   
}

.paginator-selected a{
    border: none;
}

.paginator a{
    padding: 6.5px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid #111;
    color: var(--color-text);
}

/* mensagens */

div.row-mensagens{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


div.mensagem-content-menu{
    display: flex;
}

div.mensagem-content-menu .bottom{
    width: 80%;
    margin-left: 12px;
}

div.mensagem-content-menu .bottom h5{
    font-size: 15px;
    margin-bottom: 5px;
}

div.mensagem-content-menu .bottom a{
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    color: var(--color-text);
}

div.mensagem-content-menu .notification{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--color-text);
    position: relative;
    color: var(--secundary-color);
}


/* chat-single */

div.chat-single-box{
    width: 95%;
    max-width: 600px;
    margin: 20px auto;
    height: 450px;
    padding: 10px;
    border-radius: 25px;
    background: var(--sidebar-color);
}

div.chat-single-box h5{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    color: var(--color-text);
    margin-left: 12px;
}


div.bottom-chat-single{
    width: 100%;
    height: 80%;
    margin: 5px 0;
    border-radius: 12px;
    border: 0.5px solid var(--color-text);
}


div.bottom-chat-single .chat-single{
    margin:20px 10px;
}

div.bottom-chat-single .chat-single a{
  
    padding: 10px;
    background: #256d3b;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    font-weight: normal;
    color: #fff;
}

div.chat-single-box form{
    padding: 0 5px;
    display: flex;
}

div.chat-single-box form input:not([type=submit]){
    width: 90%;
    height: 25px;
    padding-left: 12px;
    outline: none;
    border: 1px solid #ccc;
}

div.chat-single-box form input[type=submit]{
    width: 10%;
    height: 25px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    transition: 0.3s ease;
    background: var(--secundary-color);
}

div.chat-single-box form input[type=submit]:hover{
    background: var(--hover);
}


/*content curso*/

.content-curso{
    padding: 10px 0;
    width: 100%;
}

.content-curso h4{
    font-size: 0.9rem;
    font-weight: normal;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    color: var(--text-dark);
}

.content-curso a{
  display: inline-block;
  width: 100%;
  padding: 10px;
  background: #efefef;
  font-size: 0.8rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  color: var(--text-dark);
  text-decoration: none;
  transition: .3s ease;
}

.content-curso a:hover{
    color: #fff;
    background: rgb(180,180,180);
}


.row-singleForum{
    width: 100%;
}

.row-postagemForumSingle{
    width: 100%;
}

h3.title-Single{
    position: relative;
    max-width: 600px;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

h3.title-Single::after{
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    height: 2px;
    content: "";
    transform: translateY(-50%);
    background: var(--secundary-color);
}

h3.title-Single::before{
    position: absolute;
    top: 50%;
    right: 0;
    width: 200px;
    height: 2px;
    content: "";
    transform: translateY(-50%);
    background: var(--secundary-color);
}

.single-Post{
    display: flex;
    align-items: center;
    margin-bottom:40px ;
}

.perfil-single-post{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 110px;
    border-radius: 100%;
    border: 1px solid #ccc;
}

.perfil-single-post img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.single-info-post{
    width: 90%;
    padding: 0 20px;
}

.single-info-post h4{
    font-size: 1.3rem;
}

.single-info-post p{
    font-size: 0.85rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.deletar-forum{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.deletar-forum a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: normal;
    transition: .3s ease;
    color: var(--secundary-color);
}

.deletar-forum a:hover{
      color: var(--hover);
}

.tools-editing a{
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
  font-weight: normal;
  color: var(--body-color);
  background: var(--secundary-color);
}

.content-turmas-painel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0;
}

.content-turma-painel{
    width: 100%;
    margin: 40px 0;
}

.banner-turma-painel{
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.banner-turma-painel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.overlay-banner-painel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
    color: var(--body-color);
    z-index: 2;
    background: rgba(0,0,0,0.4);
}

.info-turma-painel{
    position: absolute;
    bottom: 9px;
}

.info-turma-painel h3,h4,p{
    margin-bottom: 5px;
}

.postagem-painel{
    display: flex;
    width: 100%;
    height: 450px;
    margin-top:30px;
    border-radius: 20px;
    background-color: var(--sidebar-color);
}

.left-postagem{
    width: 68%;
    height: 100%;
    border-radius: 20px;
    border:1px solid #ccc;
}


.video-player video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.menu-player{
  display: none;
}

.flex-menu{
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 35px;
}

.play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    cursor: pointer;
    transition: .3s ease;
    background: var(--secundary-color);
}

.play i{
    color: #fff;
    font-size: 1.5rem;
}

.play:hover{
    background: var(--hover);
}


.tools{
    display: flex;
    width: 90%;
    height: 100%;
    background: var(--secundary-color);
}

.tools .tumb{
    display: flex;
    gap: 0.6rem;
    align-items: center;
    width: 90%;
    height: 100%;
    padding-left: 7px;
}

.tools .tumb input[type=range]{
    width: 90%;
    cursor: pointer;
}

.initFinal{
    display: inline-block;
    width: 10%;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}


.configure-player{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
    height: 100%;
}

.configure-player i{
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3 ease;
}


.configure-player i:hover{
    color: var(--hover-destaque);
}

.volume-content{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100px;
    margin-right: 35px;
    width: 150px;
    height: 30px;
    background: var(--hover);
    transform: rotate(-90deg);
}

.volume-content input[type=range]{
    cursor: pointer;
}


.right-postagem{
    width: 32%;
    height: 100%;
}

.video-player{
    position: relative;
    width: 100%;
    height: 100%;
}

.perfil-estudante{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.perfil-border{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ccc;
}

.perfil-border img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.info-perfil-postagem h3{
    padding-left: 12px;
}

.descricao-postagem{
    padding: 10px;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 22px;
    color: var(--color-text);
}

.items-postagem{
    width: 100%;
    padding: 10px;
    background: rgba(167, 171, 176,0.7);
    transition: .3s ease;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.items-postagem a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-text);
}

.items-postagem:hover{
    background: rgb(180,180,180);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 30px;
    margin-inline: auto;
    transition: .3 ease;
    background: var(--secundary-color);
}


.button a{
    color: #fff;
    text-decoration: none;

}

.button:hover{
    background: var(--hover);
}

/* content-nexus-wellcome */
.content-nexus-wellcome{
    width: 100%;
    background: var(--sidebar-color);
    position: relative;
    top: 30px;
}

.row-wellcome{
    display: flex;
}

.wellcome-left-nexus{
    padding: 30px;
    width: 40%;
    height: 300px;
}

.wellcome-left-nexus img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wellcome-right-nexus{
    width: 60%;
    height: 100%;
    padding: 20px;
}

.info-login{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.info-login h4{
    font-size: 2em;
    padding-bottom: 5px;
    color: var(--color-text);
}

.info-login h5{
    font-size: 1.3em;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: var(--secundary-color);
}

.cargo-content{
    margin-bottom: 40px;
}

.cargo-content span{
    display: inline-block;
    text-align: center;
    padding: 5px;
    background: var(--secundary-color);
    margin: 10px 0;
    line-height: 30px;
    font-weight:bold;
    font: 0.9em;
    color: #fff;
    border-radius: 5px;
}

.info-nexus h1{
    padding-bottom: 5px;
    color: var(--color-text);
}

.info-nexus p{
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: var(--color-text);
}





